---
import BaseLayout from '../layouts/BaseLayout.astro'
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts'
---

<BaseLayout title={SITE_TITLE} description={SITE_DESCRIPTION}>
  <article
    class='border-4 border-black dark:border-gray-700 bg-white dark:bg-gray-900 p-4 relative max-w-2xl mx-auto'
  >
    <div class='absolute inset-0 bg-black dark:bg-gray-700 shadow-offset'></div>
    <div
      class='relative text-white dark:text-gray-200 prose prose-lg dark:prose-invert'
    >
      <h1 class='text-4xl font-bold mb-4 text-white dark:text-gray-300'>
        About Me
      </h1>
      <p>Text goes here about myself...</p>
    </div>
  </article>

  <style>
    .shadow-offset {
      transform: translate(8px, 8px);
    }
  </style>
</BaseLayout>
