---
import ThemeSwitcher from './ThemeSwitcher.vue'
import { SITE_TITLE } from '../consts'

const navItems = [
  { title: 'About', href: '/about' },
  { title: 'Projects', href: '/projects' },
  { title: 'Publications', href: '/publications' },
  { title: 'Bookmarks', href: '/bookmarks' }
]
---

<header class='p-4 border-b border-black dark:border-gray-700'>
  <div
    class='container mx-auto flex flex-col sm:flex-row items-center justify-between'
  >
    <h1 class='text-4xl font-bold mb-4 sm:mb-0'>
      <a
        href='/'
        class='text-black hover:text-gray-700 dark:text-white dark:hover:text-gray-300'
        >{SITE_TITLE}</a
      >
    </h1>
    <nav
      class='flex flex-col items-center sm:flex-row sm:items-center space-y-2 sm:space-y-0 space-x-0 sm:space-x-4'
    >
      {
        navItems.map((item) => (
          <a
            href={item.href}
            class='text-black hover:text-gray-700 dark:text-white dark:hover:text-gray-300'
          >
            {item.title}
          </a>
        ))
      }
      <div class='ml-0 sm:ml-4'>
        <ThemeSwitcher client:load />
      </div>
    </nav>
  </div>
</header>
